%title= @title
%h3.text-error Careful! You will irreversibly lose the measurement! 
- if @weight
  %p="Are you sure you want to delete the measure for #{@weight.date.to_s}?"
  %form.form-horizontal{:action => "/weights/#{@weight.id}", :method => "post"}
    %input{:name => "_method", :type => "hidden", :value => "delete"}
    %input.btn.btn-danger{:type => "submit", :value => "Yes, Delete It!"}
    %a.btn.btn-primary{:onclick => "history.back()"} Cancel
- else
  %p Measurement to delete not found.