%link{:href => "http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "http://code.jquery.com/jquery-1.8.3.js"}
%script{:src => "http://code.jquery.com/ui/1.10.0/jquery-ui.js"}
- if @weight
  %form#edit{:action => "/weights/#{@weight.id}", :method => "post"}
    %input{:name => "_method", :type => "hidden", :value => "put"}
      .block
        %input{:name => "value", :placeholder => @weight.value, :type => "text"}
        %label{:for => "value"} weight value - e.g. 40
      .block
        %input#datepicker{:name => "date", :type => "text", :placeholder => @weight.date.to_s, :readonly => true,:style=>"background-color:#fff;"}
        %label{:for => "date"}= "date (yy-mm-dd format) - e.g. #{Date.today.to_s}"
      %input.btn.btn-primary{:type => "submit", :value => "Update weight"}
  %p
    %a.btn.btn-danger{:href => "/weights/#{@weight.id}/delete"} Delete
- else
  %p Measure to edit not found.
:javascript
  $(function() {
  	$( "#datepicker" ).datepicker({maxDate: "+0D", dateFormat: "yy-mm-dd"});

  	});