%script{:src => "http://code.highcharts.com/stock/highstock.js"}
:javascript
  var newArray = new Array();
  var oldArray = #{@array.to_s};

  var l = oldArray.length;

  for(var i=0;i<l;i++){
    newArray[i] = new Array();
    newArray[i][0] = oldArray[i][0];
    newArray[i][1] = oldArray[i][1];
    //newArray[i][2] = oldArray[i][2];
  }

  var newArray2 = new Array();
  for(var i=0;i<l;i++){
    newArray2[i] = new Array();
    newArray2[i][0] = oldArray[i][0];
    newArray2[i][1] = oldArray[i][2];
  }

  $(function() {
    // Create the chart
    $('#container').highcharts('StockChart', {
        chart: {
        },
        colors: [
          '#2f7ed8',
          '#d6492c',
        ],
        rangeSelector: {
            buttons: [{
                  type: 'month',
                  count: 1,
                  text: '1m'
                }, {
                  type: 'month',
                  count: 3,
                  text: '3m'
                }, {
                  type: 'month',
                  count: 6,
                  text: '6m'
                },{
                  type: 'year',
                  count: 1,
                  text: '1y'
                },{
                  type: 'year',
                  count: 2,
                  text: '2y'
                },{
                  type: 'all',
                  text: 'All'
              }],
            selected: 5,
        },
        legend: {
          enabled: true,
        },
        title: {
            text: 'Weights and trend'
        },
        xAxis: {
          type: 'datetime',
        },
        credits: {
          enabled: false,
        },
        yAxis: {
          title: {
            text: 'Value (kg)'
          },
          minRange: 5,
        },
        tooltip: {
          xDateFormat: '%e %B %Y',
          shared: true
        },
        series: [{
            name: 'Trend',
            data: newArray2,
            type: 'spline',
            tooltip: {
              valueDecimals: 1
            }
        },{
            name: 'Weight',
            data: newArray,
            type: 'spline',
            lineWidth: 0,
            marker: {
              enabled: true,
              symbol: 'circle',
            },
            tooltip: {
              valueDecimals: 1
            }
        }]
    });
  });
#container{:style => "min-width: 400px; height: 500px; margin: 0 auto"}