%script{:src => "http://code.highcharts.com/stock/highstock.js"}
:javascript
  var weights = new Array();
  var trend = new Array();
  var oldArray = #{@array.to_s};

  var l = oldArray.length;

  for(var i=0;i<l;i++){
    weights[i] = new Array();
    weights[i][0] = oldArray[i][0];
    weights[i][1] = oldArray[i][1];
    trend[i] = new Array();
    trend[i][0] = weights[i][0];
    trend[i][1] = oldArray[i][2];
  }

  $(function() {
    // Create the chart
    $('#container').highcharts('StockChart', {
        chart: {
        },
        colors: [
          '#2f7ed8',
          '#d6492c',
        ],
        rangeSelector: {
            buttons: [{
                  type: 'month',
                  count: 1,
                  text: '1m'
                }, {
                  type: 'month',
                  count: 3,
                  text: '3m'
                }, {
                  type: 'month',
                  count: 6,
                  text: '6m'
                },{
                  type: 'year',
                  count: 1,
                  text: '1y'
                },{
                  type: 'year',
                  count: 2,
                  text: '2y'
                },{
                  type: 'all',
                  text: 'All'
              }],
            selected: 5,
        },
        legend: {
          enabled: true,
        },
        title: {
            text: 'Weights and trend'
        },
        xAxis: {
          type: 'datetime',
          ordinal: false,
        },
        credits: {
          enabled: false,
        },
        yAxis: {
          title: {
            text: 'Value'
          },
          minRange: 5,
        },
        tooltip: {
          xDateFormat: '%e %B %Y',
          shared: true
        },
        series: [{
            name: 'Trend',
            data: trend,
            type: 'spline',
            marker: {
              symbol: 'diamond',
            },
            tooltip: {
              valueDecimals: 1
            }
        },{
            name: 'Weights',
            data: weights,
            type: 'spline',
            lineWidth: 0,
            marker: {
              enabled: true,
              radius: 2,
              symbol: 'circle',
            },
            tooltip: {
              valueDecimals: 1
            }
        }]
    });
  });
#container{:style => "min-width: 400px; height: 500px; margin: 0 auto"}