#home_table{
	margin-right:auto;
	margin-left:auto;
}
input[type="submit"]{
	margin-bottom:10px;
}
table {
   width: 100%;
   border: 1px solid #cef;
   margin: 1em 25px;
   text-align: left; }
th {
   font-weight: bold;
   background-color: #acf;
   border-bottom: 1px solid #cef; }
td,th {
   padding: 4px 5px; }
.odd {
   background-color: #def; }
.odd td {
   border-bottom: 1px solid #cef;
}
.block label{
    display:inline-block;
    text-align:left;
    padding-left:5px;
    font-size:small;
}